@font-face {
  font-family: "robotoregular";
  src: url("fonts/Roboto-Regular-webfont.eot");
  src: url("fonts/Roboto-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Roboto-Regular-webfont.woff2") format("woff2"),
    url("fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("fonts/Roboto-Regular-webfont.ttf") format("truetype"),
    url("fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "robotoregular", "Arial", sans-serif;
}
.bloc_page {
  display: flex;
  flex-direction: row;
  border: 2px rgba(0, 0, 0, 0.1) solid;
}
/* ========================ABOUT // LEFT PANEL========================= */
.about {
  display: flex;
  background-color: #feca07;
  flex-direction: column;
  width: 33%;
}

#photo_perso {
  background: url("images/Photo.png");
  background-repeat: no-repeat;
  background-size: cover;

  width: 216px;
  height: 216px;

  align-self: center;
  margin-top: 65px;

  border-radius: 108px;
  border: 4px rgba(0, 0, 0, 0.1) solid;
}

.about h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;

  padding: 14px;

  background-color: #404040;
  color: #feca07;

  margin-top: 50px;
  margin-bottom: 30px;
}

.about dt {
  margin-left: 50px;
}

.about dd {
  margin-left: 45px;
  margin-bottom: 25px;
}

.about p {
  text-align: justify;
  margin: 45px;
}

.gray {
  color: #404040;
}

#loisirs {
  display: flex;
  justify-content: space-around;
}

.fas {
  margin-left: 5px;
  margin-right: 5px;

  width: 47px;

  padding: 10px;

  border: 3px solid #404040;
  border-radius: 100px;
}

body {
  background-color: #fff;
  font-size: 0.9em;
}

/* ====================================CONTENT // RIGHT PANEL=================================== */
.right_panel {
  width: 68%;
}
h1 {
  text-align: center;
  border: 2px black outset;
  border-radius: 7px;
  box-shadow: 0px 0px 20px black;

  width: 40%;
  min-width: 250px;

  padding: 8px 0px;

  margin: auto;
}

/****************************************MEDIA QUERIES***************************************************/

@media all and (max-width: 1199px) {
}
@media all and (max-width: 991px) {
}
@media all and (max-width: 768px) {
}
