@font-face {
  font-family: "robotoregular";
  src: url("fonts/Roboto-Regular-webfont.eot");
  src: url("fonts/Roboto-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Roboto-Regular-webfont.woff2") format("woff2"),
    url("fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("fonts/Roboto-Regular-webfont.ttf") format("truetype"),
    url("fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "robotoregular", "Arial", sans-serif;
}
.bloc_page {
  display: flex;
  flex-direction: row;
  border: 2px rgba(0, 0, 0, 0.1) solid;
}
/* ========================ABOUT // LEFT PANEL========================= */
.about {
  display: flex;
  background-color: #feca07;
  flex-direction: column;
  width: 33%;
}

#photo_perso {
  background: url("images/Photo.png");
  background-repeat: no-repeat;
  background-size: cover;

  width: 216px;
  height: 216px;

  align-self: center;
  margin-top: 65px;

  border-radius: 108px;
  border: 4px rgba(0, 0, 0, 0.1) solid;
}

.about h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;

  padding: 14px;

  background-color: #404040;
  color: #feca07;

  margin-top: 50px;
  margin-bottom: 30px;
}

.about dt {
  margin-left: 50px;
}

.about dd {
  margin-left: 45px;
  margin-bottom: 25px;
}

.about p {
  text-align: justify;
  margin: 45px;
}

.gray {
  color: #404040;
}

#loisirs {
  display: flex;
  justify-content: space-around;
}

.about .fas {
  width: 45px;

  border: 2px solid #404040;
  border-radius: 100px;
}

.fa-guitar {
  padding: 8px 7px 0px 7px;
}

.fa-gamepad {
  padding-left: 6px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.fa-map-marked-alt {
  padding-left: 7px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 12px;
}

body {
  background-color: #fff;
  font-size: 0.9em;
}

/* ====================================CONTENT // RIGHT PANEL=================================== */
.right_panel {
  width: 68%;
  margin-left: 65px;
  margin-right: 45px;
}

.yellow {
  color: #feca07;
}

.text {
  color: #4a4a4a;
}

h1 {
  text-transform: uppercase;
  font-size: 43px;

  margin-top: 117px;
  margin-bottom: 0;
}

header h2 {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 8px;
  text-transform: none;
}

#header_bottom {
  border-top: 1px solid #feca07;
  width: 80px;
  margin-bottom: 130px;
}

.fa-graduation-cap,
.fa-user-tie,
.fa-pen {
  padding-right: 35px;
}

h2 {
  text-transform: uppercase;
}

.underline {
  border-top: 1px solid #feca07;
  margin-bottom: 45px;
}

.bloc_formation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.bloc_left {
  display: flex;
  flex-direction: row;
}

.date p {
  margin: 0px;
  padding-left: 15px;
}

.bloc_right {
  width: 63%;
}

.bloc_right h3 {
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 18px;
}

.bloc_right h4 {
  font-style: italic;
  font-weight: normal;

  margin-bottom: 18px;
}

#recommandations {
  display: flex;
}

#bloc_recommandation {
  width: 50%;
}

.bloc_recommandation a {
  text-decoration: none;
}
/****************************************MEDIA QUERIES***************************************************/

@media all and (max-width: 1199px) {
}
@media all and (max-width: 991px) {
}
@media all and (max-width: 768px) {
}
