@font-face {
  font-family: "robotoregular";
  src: url("fonts/Roboto-Regular-webfont.eot");
  src: url("fonts/Roboto-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Roboto-Regular-webfont.woff2") format("woff2"),
    url("fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("fonts/Roboto-Regular-webfont.ttf") format("truetype"),
    url("fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "robotoregular", "Arial", sans-serif;
}
.bloc_page {
  display: flex;
  flex-direction: row;
}

.about {
  display: flex;
  background-color: #feca07;
  width: 32%;
}

#photo_perso {
  background: url("images/Photo_mini.jpg");
  width: 150px;
  height: 150px;

  border-radius: 80px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

#about h2 {
  text-align: center;
  text-transform: uppercase;
}

body {
  background-color: #fff;
  font-size: 0.9em;
}

h1 {
  text-align: center;
  border: 2px black outset;
  border-radius: 7px;
  box-shadow: 0px 0px 20px black;

  width: 40%;
  min-width: 250px;

  padding: 8px 0px;

  margin: auto;
}

/****************************************MEDIA QUERIES***************************************************/

@media all and (max-width: 768px) {
}
@media all and (max-width: 991px) {
}
@media all and (max-width: 1199px) {
}
